<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<h1>Users list</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<ul class="list-group">
			<% @users.each do |user| %>
				<li class="list-group-item"><%= link_to "#{user.email}", user_path(user) %> <span class="badge"><%= user.posts.count %></span></li> 
			<% end %>
		</ul>
	</div>
</div>