.row
  .col-md-10.col-md-offset-1
    = form_for @post, url: { action: "create" }, remote: true, html: { class: "form form-inline", id: "new-tweet-js" } do |f|
      %section.form-group= f.text_area :text, placeholder: "Tweet here!", size: "65x1", class: "form-control"
      = f.submit 'Tweet', class: "btn btn-primary"
      %span.label.label-info.label-js
    %hr/
