<h1>Add new tweet</h1>

<%= form_for @post, url: {action: "create"}, html: {class: "form"} do |f| %>
	<section class="form-group">
		<%= f.text_field :title, placeholder: "Type in Title", class: "form-control" %>
	</section>
	<section class="form-group">
		<%= f.text_area :text, placeholder: "Type in your message", size: "30x4", class: "form-control" %>
	</section>
	<%= f.submit "Create", class: "btn btn-primary" %> 
<% end %>