<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<h2>Add new tweet</h2>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<%= form_for @post, url: {action: "create"}, html: {class: "form"} do |f| %>
			<section class="form-group">
				<%= f.text_field :title, placeholder: "Type in Title", class: "form-control" %>
			</section>
			<section class="form-group">
				<%= f.text_area :text, placeholder: "Type in your message", maxlength: 140, size: "40x2", class: "form-control" %>
			</section>
			<%= f.submit "Create", class: "btn btn-primary" %> 
		<% end %>
	</div>
</div>