@import "bootstrap-sprockets";
@import "bootstrap";
body {
  .container[role="main"] {
    margin-bottom: 40px;
  }
}

.navbar {
  .collapse {
    .text-center {
      padding-top: 15px;
    }
  }
}

.post {
  border-bottom: 1px solid $gray-lighter;
  padding: 20px 0;
}
.post-retweered {
  padding-left: 3%;
}
